/* Font Online */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* Font Offline */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../font/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../font/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../font/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../font/Montserrat-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: transparent;
}

.jumbotron {
    background-image: url(../images/icon2.jpg);
    background-size: cover;
    height: 770px;
    margin-top: -100px;
    background-attachment: fixed;
}

.jumbotron h1 {
    color: white;
    margin-top: 320px;
    font-weight: 700;
    font-size: 50px;
    text-shadow: 3px 2px 4px black;
}

/*------wisata------*/

#wisata {
    width: 100%;
    padding: 0px;
    margin-top: -30px;
    padding-top: 55px;
}

.wisata-card {
    width: 100%;
    height: 350px;
    border-radius: 5px;
    background-color: #5289dc;
}

.wisata-box {
    width: 100%;
    height: 350px;
    opacity: 0.4;
    border-radius: 5px;
    background-color: #1c1c1c;
    color: white;
}

.wisata-item {
    width: 155px;
    height: 250px;
    border-radius: 5px;
    color: white;
    padding: 25px;
    position: absolute;
    z-index: 1;
    transition: transform .25s;
}

.wisata-item:hover {
    transform: scale(1.1);
    opacity: 1;
}

.item-city {
    height: 100%;
}

.item-name {
    height: 50%;
}

#wisata .item-1 {
    background-image: url(../images/destinasi/alam/ikon1.jpg);
    background-size: cover;
    margin-bottom: 2px;
}

#wisata .item-2{
    background-size: cover;
    background-image: url(../images/destinasi/arsitektur/ikon2.jpg);
    margin-bottom: 2px;
}

#wisata .item-3 {
    background-size: cover;
    background-image: url(../images/destinasi/belanja/ikon3.jpg);
    margin-bottom: 2px;
}

#wisata .item-4{
    background-size: cover;
    background-image: url(../images/destinasi/budaya/ikon4.jpeg);
    margin-bottom: 2px;
}

#wisata .item-5 {
    background-image: url(../images/destinasi/mice/jkc.jpg);
    background-size: cover;
    margin-bottom: 2px;
}

#wisata .item-6{
    background-size: cover;
    background-image: url(../images/destinasi/olahraga/ikon6.jpg);
    margin-bottom: 2px;
}

#wisata .item-7 {
    background-size: cover;
    background-image: url(../images/destinasi/rekreasi/ikon7.jpeg);
    margin-bottom: 2px;
}

#wisata .item-8{
    background-size: cover;
    background-image: url(../images/destinasi/religi/ikon5.jpg);
    margin-bottom: 2px;
}

#wisata .item-9 {
    background-image: url(../images/akomodasi/Penthouse/ikon9.jpeg);
    background-size: cover;
    margin-bottom: 2px;
}

#wisata .item-10{
    background-size: cover;
    background-image: url(../images/akomodasi/Hotel/ikon10.jpg);
    margin-bottom: 2px;
}

#wisata .item-11 {
    background-size: cover;
    background-image: url(../images/kuliner/Bar&Lounge/ikon11.jpeg);
    margin-bottom: 2px;
}

#wisata .item-12{
    background-size: cover;
    background-image: url(../images/kuliner/Restaurant/ikon14.jpeg);
    margin-bottom: 2px;
}

#wisata .item-13 {
    background-image: url(../images/kuliner/MakananTradisional/ikon13.jpeg);
    background-size: cover;
    margin-bottom: 2px;
}

#wisata .item-14{
    background-size: cover;
    background-image: url(../images/kuliner/KakiLima/ikon12.jpeg);
    margin-bottom: 2px;
}

#wisata .item-15 {
    background-size: cover;
    background-image: url(../images/panduan-perjalanan/informasi-praktis/ikon15.jpg);
    margin-bottom: 2px;
}

#wisata .item-16{
    background-size: cover;
    background-image: url(../images/panduan-perjalanan/transportasi/ikon16.jpeg);
    margin-bottom: 2px;
}


/* Galeri */
#galeri {
    padding-top: 55px;
    background-color: #f0ebeb;
    margin-left: -25px;
}

figure {
  width: 450px;
  height: 300px;
  cursor: pointer;
  position: relative;
  margin-left: -35px;
  margin-bottom: -30px;
}

figure img {
  width: 100%;
  height: 100%;
  transform: scale(0.75);
  transition: all 0.4s ease;
}

figcaption{
  color: white;
  font-size: 15px;
  text-align: center;
  transition: all 0.6s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

figure:hover img{
  filter: blur(4px) brightness(70%);
}

figure:hover figcaption{
  opacity: 1;
  transform: translate(-50%, -50%);
}


/* Kontak */
#kontak {
    padding-top: 55px;
    background-color: #9c9595;
}

#kontak #tentang a {
    color: white;
}

#kontak #tentang a:hover {
    text-decoration: none;
    font-weight: bold;
}

#kontak #sosmed a {
    opacity: 0.5;
    margin-right: -6px;
}

#kontak #sosmed a:hover {
    opacity: 1;
}

#kontak .fa-facebook {
    color: #2d44c4;
}

#kontak .fa-twitter {
    color: #2d7bc4;
}

#kontak .fa-youtube {
    color: red;
}

#kontak .fa-whatsapp {
    color: #0d7531;
}

#kontak .fa-line {
    color: #06c94a;
}

#kontak .fa-telegram {
    color: #33679c;
}

#kontak .fa-envelope {
    color: red;
}

#kontak .fa-instagram {
    color: #f731cc;
}
